﻿@{
    ViewBag.Title = "smiggr";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Message.</h1>
            </hgroup>
            <p>
                Provider agnostic <mark>IaaS cloud service migration</mark>
            </p>
        </div>
    </section>
}
<h3>We suggest the following:</h3>

<ul>
	<li>Test the @Html.ActionLink("simulator", "Index", "Simulator")</li>
	<li>Inspect the <a href="https://bitbucket.org/sgraphics/smiggr">source code</a></li>
</ul>