﻿<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - smiggr Service Migrator</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
	    <meta name="viewport" content="width=device-width" />
		@*<script src="~/signalr/hubs"></script>*@
		@Styles.Render("~/Content/themes/base/css")
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
    </head>
    <body>
        <header>
            <div class="content-wrapper">
                <div class="float-left">
	                <p class="site-title"><a href="@Url.Action("Index", "Home")"><img border="0" src="~/Images/logo.png"/></a></p>
                </div>
                <div class="float-right">
                    @*<section id="login">
                        @Html.Partial("_LoginPartial")
                    </section>*@
                    <nav>
                        <ul id="menu">
                            <li>@Html.ActionLink("Home", "Index", "Home")</li>
                            <li>@Html.ActionLink("Simulator", "Index", "Simulator")</li>
                            @*<li>@Html.ActionLink("About", "About", "Home")</li>
                            <li>@Html.ActionLink("Contact", "Contact", "Home")</li>*@
                        </ul>
                    </nav>
                </div>
            </div>
        </header>
        <div id="body">
            @RenderSection("featured", required: false)
            <section class="content-wrapper main-content clear-fix">
                @RenderBody()
            </section>
        </div>
        <footer>
            <div class="content-wrapper">
                <div class="float-left">
                    <p>&copy; @DateTime.Now.Year - smiggr - The IaaS Service Migrator</p>
                </div>
            </div>
        </footer>

        @Scripts.Render("~/bundles/jquery")
		@Scripts.Render("~/bundles/jqueryui")
        @Scripts.Render("~/Scripts/jquery.signalR-1.0.1.js")
        @Scripts.Render("~/Scripts/flot/jquery.flot.js")
        @Scripts.Render("~/signalr/hubs")
		@Scripts.Render("~/Scripts/Site.js")
        @RenderSection("scripts", required: false)
    </body>
</html>
