﻿@using System.Globalization
@model Smiggr.Models.SimulatorDataViewModel

@{
	ViewBag.Title = "Simulator";
}

<h2>Simulator</h2>

<div class="simulatorData">
	@using (Html.BeginForm())
	{
		<div class="regions">
			@*@for (int i = 0; i < Model.Datacenters.Count; i++)
			{
				@Html.Hidden("Datacenters[" + i + "].Key", Model.Datacenters.ToList()[i].Key)
				<div class="region">
					<h3>Region @(i + 1) load</h3>
					<div id="eq">
						@for (int j = 0; j < Model.Datacenters.ToList()[i].Value.Count; j++)
						{
							<span>
								@Html.Hidden("Datacenters[" + i + "].Value.[" + j + "].Key", Model.Datacenters.ToList()[i].Value.ToList()[j].Key)
								@Html.Hidden("Datacenters[" + i + "].Value.[" + j + "].Value", Model.Datacenters.ToList()[i].Value.ToList()[j].Value, new { @class = "rpsValue" })
							</span>
						}
					</div>
				</div>
			}*@
			@for (int i = 0; i < Model.DataCenters.Count; i++)
			{
				@Html.HiddenFor(m => m.DataCenters[i].Id)
				<div class="region">
					<h3>Region @(i + 1) load</h3>
					<div id="eq">
						@for (int j = 0; j < Model.DataCenters[i].Loads.Count; j++)
						{
							<span>
								@Html.HiddenFor(m => m.DataCenters[i].Loads[j].Hour)
								@Html.HiddenFor(m => m.DataCenters[i].Loads[j].Load, new { @class = "rpsValue" })
							</span>
						}
					</div>
				</div>
			}
		</div>
	}
</div>

<div id="simulator">
	<h3>Simulate scenario</h3>
	<div id="button">
		<button id="start">&nbsp;</button>
	</div>
	<div id="consoleFrame">
		<div id="console"></div>
	</div>
	<span id="time">0:00</span>
	<div class="status">
		<table id="status">
			<thead>
				<tr>
					<th>Region</th>
					<th>Nr of VM</th>
				</tr>
			</thead>
			<tbody>
				<tr><th>&nbsp;</th><th>&nbsp;</th></tr>
			</tbody>
		</table>
	</div>

    <div id="placeholder" style="width:800px;height:400px;"></div>

	<button id="stop">&nbsp;</button>
	<button id="reset">&nbsp;</button>
</div>

@section scripts
{
	<script>
		
		$(function () {
			var resStepValues = [@string.Join(", ", Model.Steps.Select(x => x.ToString(new CultureInfo("en-US"))))];

			$("#eq > span").each(function () {
				var value = resStepValues.indexOf(parseFloat($("input.rpsValue", this).val()));
				$(this).slider({
					value: value,
					range: "min",
					animate: true,
					min: 0,
					max: resStepValues.length - 1,
					orientation: "vertical",
					slide: function (event, ui) {
						$("input.rpsValue", this).val(resStepValues[ui.value]);
					}
				});
			});
		});
		var simulatorDataUrl = '@Url.Action("SetUpData")';
	</script>
}

